<!DOCTYPE html>
<html>
    <head>
        <title>n00bady's site</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link rel="shortcut icon" href="favicon.ico">
    </head>
    <body style="background-color: #080808;">
        <div class="content">
            <div class="header">
                <h1>n00bady's site</h1>
            </div>
            <!--navigation starts here-->
            <div class="nav">
                <ul>
                    <li><a href="index.html">/home</a></li>
                    <li><a href="blog.html">/ramblings</a></li>
                    <li><a href="https://gitlab.com/n00bady">/gitlab</a></li>
                    <li><a href="placeholder.html">/placeholder</a></li>
                    <li><a href="contact.html">/contact</a></li>
                    <li><a href="about.html">/about</a></li>
                </ul>
            </div>
            <!--navigation ends here-->
            <div class="container">
                {% for t in titles %}
                <h2> {{t}} </h2>
                    {% for v in mydata%}
                    <p> {{v}} </p>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </body>
    <footer>
        <table id="foot">
            <tr>
                <td>No frameworks were used in the creation of this site.</td>
                <td>🄯n00bady</td>
            </tr>
            <tr>
                <td>1337 visits</td>
            </tr>
        </table>
    </footer>
</html>
